</main>
<footer class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Info</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/pizzafox/maroon">GitHub</a></li>
          <% if (instance) { %>
            <li><p class="grey-text text-lighten-3">Instance <%= instance %></p></li>
          <% } %>
          <% if (version) { %>
            <li><p class="grey-text text-lighten-3">Version <%= version %></p></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      Copyright <a class="white-text" href="https://jonahsnider.ninja">Jonah Snider</a>, <%= new Date().getFullYear() %>
    </div>
  </div>
</footer>
<script type="text/javascript" src="<%= siteData.url %>/public/js/materialize.min.js"></script>
<script type="text/javascript" src="<%= siteData.url %>/public/js/dom.min.js"></script>
</body>

</html>
