<!doctype html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="<%= siteData.url %>/public/css/style.min.css">
  <link rel="shortcut icon" href="<%= siteData.url %>/public/img/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>maroon</title>

  <meta name="theme-color" content="#ef2424">
  <meta property="og:type" content="website">
  <meta name="twitter:card" value="summary">
  <meta property="twitter:image" content="<%= siteData.url %>/public/img/logo.png">
  <meta property="og:image" content="<%= siteData.url %>/public/img/logo.png">
  <meta name="twitter:description" content="<%= siteData.description %>">
  <meta property="og:url" content="<%= siteData.url %>">
  <meta property="twitter:url" content="<%= siteData.url %>">

  <meta property="og:site_name" content="maroon">
  <meta property="og:title" content="maroon">
  <meta name="twitter:title" content="maroon">
</head>

<body>
  <main class="vertical-align">
